<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles2.css">
    <title>Drawing App</title>
</head>

<body>
    <div id="main">
        <div id="PageOG">
            <h1>Less is More⚡</h1>
            <button id="goBack"><img id="logo" src="../images/back.svg" alt="-"></button>
        </div>
        <div id="student-info">
            <div id="info">
                <h3>Mohamed Safwat Hassan</h3>
                <h4>192100140</h4>
            </div>
            <div id="info">
                <h3>Abdallah Abdelmonem Abdelaziz</h3>
                <h4>192100154</h4>
            </div>
            <div id="info">
                <h3>Abdelrahman Omar Ali</h3>
                <h4>191900004</h4>
            </div>
            <div id="info">
                <h3>Moomen Diaa</h3>
                <h4>191800129</h4>
            </div>
            <div id="info">
                <h3>Abdallah Abdelmonem Abdelaziz</h3>
                <h4>192100154</h4>
            </div>
        </div>
    </div>
    <script src="../scripts/script2.js"></script>
</body>

</html>