<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles2.css">
    <title>Inky. - Scribble</title>
</head>

<body>
    <div id="main">
        <div id="PageOG">
            <h1>Less is More⚡بو صفوت الكبير</h1>
            <button id="goBack"><img id="logo" src="../images/back.svg" alt="-"></button>
        </div>
        <div id="student-info">
            <div id="info">
                <h3>بو علي</h3>
                <h4>192100140</h4>
            </div>
        </div>
    </div>
    <script src="../scripts/script2.js"></script>
</body>

</html>